{% extends "todoApp/layout.html" %}

{% block body %}
<br>
    <div class="today-page">
        <h3 style="text-align: center">'AjkeKiKorbo'(An English translation would be 'What to do today?') is an app that lets you plan your day(and the next) and help you achieve your goals by keeping track of the tasks that
            you complete and the tasks that are yet to be completed. 
        </h3>
        <br>
        <h3 style="text-align: center">
            You can generalize this as a 'todo' app. However, what makes this better is 
            that this app can track your progress and let you see how you've been doing. There is a reminder feature as well, where you can have 
            as many reminders as you want and the app will show them to you in various pages in a random order. There are some other features as 
            well but they are for you to find out and hopefully more features will be available in the future.
        </h3>
        <br>
    
        <div style="text-align: center">
            {% if request.user.is_authenticated %}
            <a class="btn btn-outline-light" href="{% url 'today' %}">Check Today's Tasks</a>
            {% else %}
            <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
        <br>
        <h3 style="text-align: center">
            Leave a review of the app so we can work to give you a better user experience. Feel free to share any idea for this app or report a bug 
            or literally anything that you think valuable. Your time is important to us! Thank you!
        </h3>
        <br>
    
        <div style="text-align: center">
            {% if request.user.is_authenticated %}
                <button id="add_review_btn" class="btn btn-outline-light">Leave a review</button>
            {% else %}
                <h3><a style="color:rgb(51,102,204)" href="{% url 'login' %}">Login</a> to leave a review.</h3>
            {% endif %}
        </div>
        <br>
        <div style="margin: 2rem; text-align: center;">
            <div class="alert alert-warning" role="alert">
                <h3>This app works the best and will come in the most handy if it opened on your browser's startup. If you're using 
                <a style="color:rgb(51,102,204)" href="https://www.google.com/chrome/">Chrome</a>, follow 
                <a style="color:rgb(51,102,204)" href="https://gatekeeperhelp.zendesk.com/hc/en-us/articles/360059916414-How-to-automatically-launch-websites-at-startup-in-Chrome-">this</a>
                article to open this app on your Chrome startup. You can do the same for other browsers as well. Feel free to 
                look that up. Remember, a to-do list works the best if it's in front of you for a good amout of time.</h3>
            </div>
        </div>
    </div>

    <div id="review_pop_up" class="review_div review_div_hidden">
        <strong style="padding: 0.4rem;">Leave A Review!!</strong> <button class="btn btn-sm btn-outline-light" style="float: right" id="cancel_review_btn">Cancel</button>
        <br>
        <br>
        <div class="center">
            <textarea id="review_text" class="textarea" name="rev" required></textarea>
            <br>
            <button style="width: 100%" id="save_review_btn" class="btn btn-sm btn-outline-light">Save</button>
        </div>
    </div>

    <div id="review_taken" class="alert alert-success review_taken_div" role="alert">
        Review taken. Thanks for your time!
    </div>

{% endblock %}