{% extends "todoApp/layout.html" %}

{% block body %}
<div class="today-page">
    <div class="row">
        <div class="col-lg-11 col-md-10 col-sm-10 col-9" style="margin-top: -15px; margin-bottom: -3px; text-align: center;">
            {% if tasks %}
                <h2>Hello, {{ request.user }}! Here are the tasks you need to complete tomorrow!</h2>
            {% else %}
                <h2>Welcome Back, {{ request.user }}! Add some tasks and start planning the next day.</h2>
            {% endif %}
            
            {% if reminder %}
            <strong >Random Reminder: {{ reminder }}</strong>
            <br>
            {% endif %}
            <br>

        </div>
        <div class="col-lg-1 col-md-2 col-sm-2 col-3" style="text-align:right">
            <a><button id="add_task_btn" class="btn btn-sm btn-outline-light" style="margin-bottom: -10px"> ADD <strong style="font-size: 1.2rem">+</strong></button></a>
        </div>
    </div>

    {% for task in tasks %}
    <div class="row justify-content-md-center">
        <div class="col col-lg-4 col-md-10 col-sm-10 col-10">
            {{ task.name }}
        </div>
        <div class="col col-lg-4 col-md-2 col-sm-2 col-2" style="text-align: right;">
            <a href="{% url 'delete_task' task.id 'tomorrow' %}" class="btn btn-sm btn-outline-danger"> <i class="fa fa-solid fa-trash" style="font-size: 16px"></i></a> 
        </div>
    </div>
    <br>
    {% endfor %}

</div>

<div id="add_pop_up" class="add_task_today add_task_hidden">
        <strong style="padding: 0.4rem;">Add a Task!!</strong> <button class="btn btn-sm btn-outline-light" style="float: right; margin-right: 5px" id="cancel_add_task_btn">Cancel</button>
        <br>
        <form class="center" action="{% url 'add_task' 'tomorrow' %}" method="POST">
            {% csrf_token %}
            <input class="input-class" id="task_name" type="text" name="task" placeholder="Task" required>
            <br>
            <button class="btn btn-sm btn-outline-light" id="save_add_task_btn" name="save" action="{% url 'add_task' 'tomorrow' %}" value="save" style="width: 273px; margin: .25rem">Save</button>
        </form>
</div>
{% endblock %}